{% extends "bases.html.twig" %}

{#
la fonction include existe aussi dans les fichiers twig
{% include "template" %}
#}

{% block main %}

	{{parent()}}


	{# commentaires dans les fichiers twig #}

	<pre>
		{{ dump(articles) }}
	</pre>

	{% for article in articles %}

		<h1>{{article.titre}}</h1>
		<p>{{ article.contenu }}</p>
		<a href="{{ path("article", {'id' : article.id}) }}">Voir l'article</a>
		<hr>

	{% endfor %}

{% endblock %}
